.autopartDetail {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conteinerBtnBackAutoparts {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: flex-start;
}
.btnBackAutoparts {
  width: fit-content;
  margin-left: 10rem;
}
.conteinerDetailAutopart {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.col1AutopartDetail {
  width: 50%;
  height: 70vh;
}
.conteinerSlide {
  width: 100%;
  height: 100%;
}
.autopartImageDetail {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.col2AutopartDetail{
    width: 40%;
}
.conteinerFeaturesAutoparts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.titleDetailAutopart {
  width: 100%;
  font-size: 2.5rem;
}
.conteinerFeaturesBuy {
  width: 100%;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}
.conteinerBuy {
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.priceAutopart {
  font-size: 2.8rem;
  font-weight: 400;
}
@media (min-width: 280px) and (max-width: 500px) {
  .conteinerDetailAutopart {
    flex-direction: column;
    width: 90%;
  }
  .col1AutopartDetail {
    width: 100%;
    height: 50vh;
  }
  .conteinerSlide {
    width: 100%;
    height: 100%;
  }
  .col2AutopartDetail{
    width: 100%;
}
  .conteinerFeaturesBuy{
    flex-direction: column;
  }
}
@media (min-width: 500px) and (max-width: 680px) {
  .conteinerDetailAutopart {
    flex-direction: column;
    width: 90%;
  }
  .col1AutopartDetail {
    width: 100%;
    height: 50vh;
  }
  .conteinerSlide {
    width: 100%;
    height: 100%;
  }
    .col2AutopartDetail{
    width: 100%;
}
  .conteinerFeaturesBuy{
    gap: 0.5rem;
    justify-content: center;
  }
}
@media (min-width: 680px) and (max-width: 1100px) {
  .conteinerDetailAutopart {
    flex-direction: column;
    width: 90%;
  }
  .col1AutopartDetail {
    width: 100%;
    height: 60vh;
  }
  .conteinerSlide {
    width: 100%;
    height: 100%;
  } 
   .col2AutopartDetail{
    width: 100%;
}
  /*
  .autopartImageDetail {
    width: 100%;
    object-fit: contain;
  } */
}
